.input {
  background-color: #222326;
  height: 20px;
  width: 257px;
  font-size: 15px;
}

.results {
  width: 416px;
  padding: 8px;
  border-radius: 5px;
  background-color: #141517;
}

.results__item {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  color: #fff;
}

.results__item.isFocus {
  background-color: aqua;
}
